*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, serif;
}
body{
  background-image:url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsb2ZmaWNlM19kaWdpdGFsX3BhaW50X2lsbHVzdHJhdGlvbl9zY2VuZV9vZl90cm9waWNhbF9mb18yNTc1MmM1Yi02YTQ5LTQzNDctYjYwMi05MDA3ZjA4ZGNmNzRfMS5qcGc.jpg');    background-color:green;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; 
    text-align: center;
    color: #ece7e3;
    overflow: auto;
    height: 100vh;
    font-size: 4vh;
}
img{
    max-width: 20rem;
    cursor:crosshair;
    
}
p{  
    font-size: 2rem;
    padding: 1vh 2vw;
    border-radius: 15px;
    color: #fff;
    background-color: rgb(174, 141, 206);
    padding: 1vh 2vw;
    font-family: 'Dancing Script', cursive;    
  
    margin: 4vh 2vw;
    cursor: pointer;
    display: inline;
}
@media screen and (max-width: 700px) {
    body{
      
      background-image: url('https://images.unsplash.com/photo-1573689705959-7786e029b31e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            background-size:cover;

    }
    img{
        max-width: 10rem;
    }p{  
        font-size: 1.2rem;
        padding: 1vh 2vw;
        border-radius: 7px;
        color: #fff;
        background-color: rgb(174, 141, 206);
        padding: 1vh 2vw;
        font-family: 'Dancing Script', cursive;    
        margin: 4vh 2vw;
        cursor: pointer;
    }

    
}
