*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, serif;
}
body{
    background-image:url('./assests/instruct.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; 
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    color: #502B0A;
    overflow: auto;
    flex-shrink:-1;
    height: 100vh;
}
h1{
    /* font-size: 4vw; */
    color: #502B0A;
    font-family:'dancing script', cursive, serif;
    font-size: 3rem;
    transition: all 0.3s ease;
    padding: 1vh 2vw;
    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%);
    margin:5vh 0vh;
    border-radius: 5rem;
    transition: all 0.6s ease;
}
h1:hover{
    cursor: pointer;
    color: #502b0ab9;
    /* color: rgb(56, 31, 87); */
    box-shadow: 0px 2vh 5rem rgb(205, 119, 10);
    margin: 4.6vh  0.5vw;
    font-weight: bolder;
    border-radius: 1rem;
}

p{
    font-size: 1.5rem;
    padding: 1vh 2vw;
    border-radius: 15px;
    border: none;
    color: #fff;
    background-color: rgb(154, 206, 141);
    padding: 1vh 2vw;
    font-family: 'Dancing Script', cursive;    
    border-radius: 15px;
    transition: all 0.6s ease;
    margin: 2vh 2vw;
}
p h2{
    font-size:bolder; 
}

#goodluck{
    font-size: 1.5rem;
    padding: 1vh 2vw;
    border-radius: 15px;
    border: none;
    color: #580707;
    background-color: rgb(206, 172, 141);
    /* padding: 1vh 2vw; */
    /* font-family: 'Dancing Script', cursive;     */
    /* border-radius: 15px; */
    transition: all 0.4s ease;
    margin: 2vh 2vw;
}
#goodluck:hover{
    cursor: pointer;
    font-size: 1.7rem;
    padding: 1vh 2vw;
    border-radius: 20px;
    border: none;
    color: #580707;
    background-color: rgb(241, 120, 7);
    box-shadow: 0px 2vw 3rem #580707;
    padding: 2vh 2vw;
    font-family: 'poppins', serif;  
    transition: all 0.6s ease;
    margin: 2vh 2vw;
}
@media screen and (max-width: 700px) {
    body{
        height: 100vh;
        background-image: url('./assests/instructions.jpg');
    }

    
}
